<div>
  <h2>Welcome to Nutrition</h2>
  <input type="text" [(ngModel)]="searchItem"  ><br>
  <button (click)="getNutritionalData()">Nutritional Details here</button>
  <div *ngIf="displayData">
  Calories - {{calories}} <br>
  Serving weight in Grams - {{weight_in_grm}} <br>
  Sodium - {{sodium}} <br>
  Carbohydrates - {{carbohydrates}} <br>
  Total Fat - {{totalFat}} <br>
  Tran Fatty Acids - {{transFattyAcid}} <br>
  Vitamin D  - {{vitaainD}} <br>
  Vitamin C - {{vitaminC}}<br>
  Water/Gm - {{waterPerGrms}}<br>
  </div>
</div>
